{% load i18n %}

{% blocktrans %}You're receiving this email because you requested a password reset for your user account at
http://localhost:8000 .{% endblocktrans %}
{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}

<a href="http://localhost:8000/{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
    http://localhost:8000/{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
</a>

{% blocktrans %}Your username, in case you’ve forgotten: {{ user.get_username }}{% endblocktrans %}
