{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    User Update
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-6">
            <h2 class="py-5">Profile Update</h2>
            {% if user.profile.profile_picture %}
            <a href='{{user.profile.profile_picture.url}}' class="" >
                <img class="img-thubnail rounded-circle" src='{{user.profile.thumbnail.url}}' alt="profile_picture" srcset="" width="200px" height="200px">
            </a>
            {% else %}
                <img class="img-thubnail rounded-circle" src='/media/defaults/default_user.jpg' alt="profile_picture" srcset="" width="200px" height="200px">
            {% endif %}
            <form method="post">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible fade show alert-{{message.extra_tags}}" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {{ form|crispy}}
                <div class="row justify-content-center py-3">
                    <button type="submit" class="btn btn-outline-primary">Update Profile</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}